<div style="max-height: calc(100vh - 200px);overflow-y: auto;" >
<style type="text/css">
  .part1{
    width: 50%;
    float:left;
  }

  @media only screen and (max-width: 999px) {
  .part1 {
    width: 100%;
    }
  }
</style>

<div class="part1" style="text-align: center;">
  <div style="margin-top:40px;margin-bottom: 20px;padding-right: 20px">
    <div style="width: 100%; background-color:white;" *ngIf="testAPITrigger">
      <h2 style="color: #3f51b5;">You are using the test server</h2>
    </div>
    <h2>USL Online Registration</h2>
    <p>
      <b>Register using your account on Google.</b><br><br>
      <b>Disclaimer:</b> Updated browser is recommended. And cookies must be enabled in your browser <button style="background-color: #3f51b5;color: white;border: none;border-radius:45%;height: 19px" (click)="Cookies()" >?</button>
      <br>

    </p>
    <button mat-raised-button color="primary" style="color: white;width: 90%" (click)="signInWithGoogle()" [disabled]="!disabled">
      <span class="material-icons">
        account_box
      </span>
      Google Login
    </button>
    <p style="width: 85%;margin-right: auto;margin-left: auto;text-align: left;">
      <mat-checkbox [(ngModel)]="disabled"> I agree to the&nbsp;</mat-checkbox><a href="javascript:void(0)" (click)="terms()"  style=" text-decoration: none;">Policy Acceptance and Data Privacy.</a>
    </p>
  </div>
</div>
<div class="part1">

   <iframe width="100%" height="300" src="https://www.youtube.com/embed/YpngzsZVlF4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>
