<mat-card style="margin: 0px auto;background-color: #f2f3f7;height: calc(100vh - 200px);overflow-y: auto;overflow-x: hidden" id="boxx">
   <p style="font-size: 25px;padding-top: 00px;padding-bottom: 5px;text-align: center;">USL Online Registration</p>

<style type="text/css">
  @media only screen and (max-width: 800px) {
  .fullwidth {
    width: 100% !important;
    margin-right: 0px;
  }
  #boxx{
    margin: 25px 10px 25px 10px;
  }
}
</style>
    <div style="padding-right: 30px;padding-left: 30px;">
      Email in use: <b>{{global.email}}</b>
    </div>
    <div style="height: 10px"></div>

  <div>
  <div *ngIf="data.type==1">
    <table style="width: 100%">
      <tr>
        <td style="width: 100%;padding-left: 30px;padding-right: 30px;margin-top: -10px">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Select your Program Level</mat-label>
            <mat-select [(ngModel)]="proglevelval" (ngModelChange)='check()'>
              <mat-option *ngFor="let a of proglevel" value="{{a.programLevel}}">{{a.progLevelDesc}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>


    <p style="padding-bottom: 15px;margin-top: -10px;margin-left: 40px;padding-right: 30px" *ngIf="proglevelval=='01'">
      <mat-checkbox  [(ngModel)]="condition" >The child must be 4 years old</mat-checkbox> by October 31, 2020.
    </p>

    <p style="padding-bottom: 15px;margin-top: -10px;margin-left: 40px;padding-right: 30px" *ngIf="proglevelval=='02'">
      <mat-checkbox  [(ngModel)]="condition">The child must be 5 years old</mat-checkbox> by October 31, 2020.
    </p>

    <p style="padding-bottom: 15px;margin-top: -10px;margin-left: 40px;padding-right: 30px" *ngIf="proglevelval=='04'">
      <mat-checkbox  [(ngModel)]="condition">You must have a </mat-checkbox> general weighted average of at least 80%.
    </p>

     <div style="padding-bottom: 15px;margin-top: -10px;margin-left: 40px;padding-right: 30px" *ngIf="proglevelval=='05'">

    <table style="width: 100%" >
      <tr>
        <td style="width: 170px"> Online Registration for: </td>
        <td>
          <select class="select-css"   [(ngModel)]="orfor">
            <option value="">- Select -</option>
            <option value="1">Entrance Exam</option>
            <option value="2">Enrollment (Incoming Grade 11)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="padding: 10px;">
          <span style="font-size: 13px"  *ngIf="orfor=='1'">Note: For Entrance Examination!</span>
          <span style="font-size: 13px"  *ngIf="orfor=='2'">Note: For enrollment of grade 11 in science high etc.!</span>
        </td>
      </tr>
    </table>

    </div>

    <p style="padding-bottom: 15px;margin-top: -10px;margin-left: 40px;padding-right: 30px" *ngIf="proglevelval=='05'&&orfor=='1'">
      <mat-checkbox  [(ngModel)]="condition" >You must have a </mat-checkbox> general weighted average of at least 80% with no failing grades in any of the grading periods.
    </p>
    <p style="padding-bottom: 15px;margin-top: -10px;margin-left: 48px;padding-right: 30px;font-size: 16px" *ngIf="(proglevelval=='01'||proglevelval=='02'||proglevelval=='03')&&condition"><b>Please provide child information and click register.</b></p>
    <div *ngIf="proglevelval!=''&&(condition||(proglevelval=='05'&&orfor=='2'))">
    <div *ngIf="proglevelval!=''">
    <table style="width: 100%;margin-top: -15px">
      <tr>
        <td style="width: 50%;padding-right: 30px;padding-left: 30px" colspan="3">
          <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>First name</mat-label>
              <input matInput placeholder="" [(ngModel)]="fname" autocomplete="off">
          </mat-form-field>
        </td>

      </tr>
    </table>
    <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px">
          <mat-form-field appearance="outline" style="width: calc(35% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Middle name</mat-label>
              <input matInput placeholder="" [(ngModel)]="mname" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: calc(40% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="" [(ngModel)]="lname" autocomplete="off" >
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 25%" class="fullwidth">
              <mat-label>Suffix</mat-label>
              <input matInput placeholder="" [(ngModel)]="suffix" autocomplete="off">
          </mat-form-field>
    </div>

    <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px">

          <mat-form-field appearance="outline" style="width: calc(35% - 10px);margin-right: 10px" class="fullwidth">
            <mat-label>Gender</mat-label>
            <mat-select  [(ngModel)]="gender">
              <mat-option value="M">Male</mat-option>
              <mat-option value="F">Female</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline"  style="width: calc(40% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Birth Date</mat-label>
          <input readonly matInput [matDatepicker]="picker" placeholder="Birth Date" (click)="picker.open()"  [(ngModel)]="bdate" name="bdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 25%"  class="fullwidth">
              <mat-label>Contact Number</mat-label>
              <input matInput autocomplete="off" [(ngModel)]="cnumber" placeholder="0917XXXXXXX" maxlength="11">
          </mat-form-field>
    </div>

    <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px"  *ngIf="proglevelval=='01'||proglevelval=='02'||proglevelval=='03'">


          <mat-form-field appearance="outline"  style="width: calc(30% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Contact Person</mat-label>
              <input matInput placeholder="" autocomplete="off" [(ngModel)]="cperson">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 50%;margin-right: 10px"  *ngIf="proglevelval!='01'&&proglevelval!='02'&&proglevelval!='03'" class="fullwidth">
            <mat-label>School Graduated From</mat-label>
            <input type="text" placeholder="" [(ngModel)]="gradfrom" matInput [matAutocomplete]="auto" (keydown)='keyDownFunction()'>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of schoolstemp" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: calc(20% - 10px);" class="fullwidth"   *ngIf="proglevelval!='01'&&proglevelval!='02'&&proglevelval!='03'">
            <mat-label>Year Graduated</mat-label>
            <mat-select  [(ngModel)]="yeargrad">
              <mat-option *ngFor="let a of currdatearray" value="{{a}}">{{a}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px"  *ngIf="proglevelval=='04'||proglevelval=='05'||proglevelval=='06'||proglevelval=='07'">


          <mat-form-field appearance="outline" style="width: 70%;margin-right: 10px"  *ngIf="proglevelval!='01'&&proglevelval!='02'&&proglevelval!='03'" class="fullwidth">
            <mat-label>School Graduated From</mat-label>
            <input type="text" placeholder="" [(ngModel)]="gradfrom" matInput [matAutocomplete]="auto" (keydown)='keyDownFunction()'>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of schoolstemp" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: calc(30% - 10px);" class="fullwidth"   *ngIf="proglevelval!='01'&&proglevelval!='02'&&proglevelval!='03'">
            <mat-label>Year Graduated</mat-label>
            <mat-select  [(ngModel)]="yeargrad">
              <mat-option *ngFor="let a of currdatearray" value="{{a}}">{{a}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

      <table style="padding-left: 30px;padding-right: 30px;margin-top: -10px;width: 100%" *ngIf="proglevelval=='04'||proglevelval=='05'||proglevelval=='06'||proglevelval=='07'">
      <tr>
        <td>
        <mat-form-field style="width: calc(100% - 50px)" appearance="outline"  (click)="lookup()">
          <mat-label>School Address</mat-label>
          <input autofocus matInput [(ngModel)]="address" readonly="readonly">

        </mat-form-field>
        <button mat-mini-fab color="primary"  (click)="lookup()" style="float: right;margin-top: 13px">
          <mat-icon>search</mat-icon>
        </button>
        </td>
      </tr>
      </table>


    <div *ngIf="proglevelval=='05'">
      <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px">
            <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Select Strand Priority</mat-label>
              <mat-select [(ngModel)]="strandval">
                <mat-option *ngFor="let a of strandfiltered" value="{{a.strandId}}">{{a.strandTitle}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px"  *ngIf="orfor=='1'">

            <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Select Strand Priority 2</mat-label>
              <mat-select [(ngModel)]="strandval1">
                <mat-option *ngFor="let a of strandfiltered" value="{{a.strandId}}">{{a.strandTitle}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    <!--   <p style="padding-left: 45px;padding-right: 30px;margin-top: -10px;margin-bottom: 25px"><a href="#">Learn more</a> about Academic Tracks.</p> -->
    </div>

    <div *ngIf="proglevelval=='06'">
      <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px">
            <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Select Current Strand</mat-label>
              <mat-select [(ngModel)]="collegestrandval">
                <mat-option *ngFor="let a of strand" value="{{a.strandId}}">{{a.strandTitle}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px">
          <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
            <mat-label>Select Preferred Course</mat-label>
            <mat-select [(ngModel)]="courseval">
              <mat-option *ngFor="let a of courses" value="{{a.programId}}">{{a.course}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px">
          <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
            <mat-label>Select Alternative Course 1</mat-label>
            <mat-select [(ngModel)]="courseval1">
              <mat-option *ngFor="let a of courses" value="{{a.programId}}">{{a.course}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px">
          <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
            <mat-label>Select Alternative Course 2</mat-label>
            <mat-select [(ngModel)]="courseval2">
              <mat-option *ngFor="let a of courses" value="{{a.programId}}">{{a.course}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    </div>
    <div *ngIf="proglevelval=='07'">
    <div style="padding-left: 30px;padding-right: 30px;margin-top: -10px">
          <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
            <mat-label>Select Program</mat-label>
            <mat-select [(ngModel)]="courseval">
              <mat-option *ngFor="let a of gradcourses" value="{{a.programId}}">{{a.course}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    </div>

    </div>
    </div>
    </div>
</div>
  <div *ngIf="data.type==2&&!preenrollment">
    <div  *ngIf="proglevelval!=''" style="padding-left: 30px;clear: both">
          <div style="float: left;width: 40%"  class="fullwidth">
            <div style="height: 5px"></div>
              Upload Proof of Payment:<br>
              <input mat-raised-button type="file" id="avatar" (change)="onFileChange($event)" #fileInput class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/>
          </div>
          <div style="float: left;width: 50%"  class="fullwidth">
           <mat-form-field appearance="outline"  style="width: calc(90% - 20px);">
                  <mat-label>Date of Payment</mat-label>
              <input readonly matInput [matDatepicker]="picker2" placeholder="Payment Date" (click)="picker2.open()"  [(ngModel)]="pdate" name="pdate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>


              <img [src]='attachment'  *ngIf='attachment!="data:image/png;base64,null"&&attachment!=""&&attachment!="data:image/png;base64,"' style="width:calc(100% - 30px)"  />

            <div style="height: 15px"></div>
    </div>
  </div>
  <div *ngIf="data.type==2&&preenrollment" style="text-align: center">
    <h4>Accounting Payment Verified!</h4>
    Click the Pre-enroll button to successfully pre-enroll
    <br><br><br>
  </div>

  <div *ngIf="data.type==3">
    <div  *ngIf="proglevelval!=''" style="padding-left: 30px;clear: both">
          <div class="fullwidth">
            <div style="height: 5px"></div>
              Upload Principal's Certification:<br>
              <input mat-raised-button type="file" id="avatar" (change)="onFileChange($event)" #fileInput class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/>
          </div>


              <img [src]='attachment'  *ngIf='attachment!="data:image/png;base64,null"&&attachment!=""&&attachment!="data:image/png;base64,"' style="width:calc(100% - 30px)"  />

            <div style="height: 15px"></div>
    </div>
  </div>

<button mat-raised-button color="primary" style="background-color: #B22222;color: white;margin-left: 20px" (click)="closethis()">
      <span class="material-icons">
      close
    </span> Cancel</button>

    <button mat-raised-button color="primary" style="float:right;background-color: #3f51b5;color: white;margin-right: 20px" (click)="update()" *ngIf="!preenrollment">
      <span class="material-icons">
        edit
      </span> Update</button>

    <button mat-raised-button color="primary" style="float:right;background-color: #3f51b5;color: white;margin-right: 20px" (click)='swalConfirm("You are about to Pre-enroll.","Please confirm to proceed!","question","Confirm");' *ngIf="data.type==2&&preenrollment">
      <span class="material-icons">
        edit
      </span> enroll</button>



      <br>
      <br>
  </mat-card>
